@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .mycontainer {
        @apply container px-40 py-16
    }
}



body {
    margin: 0; /* Reset default body margin */
    padding: 0; /* Reset default body padding */
    background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
    /* Add any other styles for the body here */
}
